<div style="display: flex;">
	<button (click)="incrementHome()">Increment Home</button>
	<button (click)="incrementAway()">Increment Away</button>
	<button (click)="resetScore()">Reset Score</button>
</div>
<div>
Score:
	<div *ngIf="scoreboard$ | async as scoreboard">
		Home: {{scoreboard.home}}
		Away: {{scoreboard.away}}
	</div>
	<div>Individual Home {{homeScore$ | async}}</div>
	<div>Extracted Away {{awayScore$ | async}}</div>
</div>
<div>
	<h3>Home Side</h3>
	<form [formGroup]="homePlayersForm" (ngSubmit)="onSubmit()">
		<label>Player Name
			<input type="text" formControlName="name">
		</label>
		<label>Score
			<input type="text" formControlName="score">
		</label>
		<button type="submit" [disabled]="!homePlayersForm.valid">Update Score</button>
	</form>
</div>
